<div class="product-container">
  <div>
    <p>
        <a *ngIf="showImgLink" routerLink="product/{{ product.id }}"> <img [src]="product.url" class="product-image"/></a>
        <img *ngIf="!showImgLink" [src]="product.url" class="product-image"/>
    </p>
  </div>
  <div class="product-info">
    <p class="product-name">{{product.name}}</p>
    <p class="product-price">${{product.price}}</p>
    <p *ngIf="showProductDescription">{{product.description}}</p>
  
    <p>
      <select [ngModel]="product.quantity" (ngModelChange)="changeQuantity($event)">
        <option *ngFor="let option of options" [value]="option">{{option}}</option>
      </select>
      </p>
    <p *ngIf="showAddProductButton"><button (click)="handleAddToCart()">Add To Cart</button></p>
    <p *ngIf="showRemoveProductButton"><button (click)="handleRemoveFromCart()">Remove From Cart</button></p>
</div>
</div>
