<form (ngSubmit)="submitForm()">

<select class="select-input" name="quantity" [(ngModel)]="quantity">
      
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
   
  </select>
  <button type="submit">Add To Cart</button>
  <!-- <button (click)="addToBookmarks(link)">Add to bookmarks</button> -->
  
  <select [(ngModel)]="selectedOption" name="testing">
    <!-- <option *ngFor="let option of options" [value]="option">{{option}}</option> -->
  </select>
</form>