.product-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto 64px;
    font-family: "Open Sans", sans-serif;
  }
  
  ::ng-deep .product-container {
    display: flex;
    justify-content: center;
    margin: 0 15px;
  }